.results {
  position: absolute;
  top: 32px;
  width: 240px;
  background-color: white;
  border: none;

  ul {
    list-style: none;

    li {
      &:hover {
        background-color: #ffac30ba;
      }

      input[type=radio] {
        appearance: none;
        -webkit-appearance: none;
      }
    }
  }
}

.hide {
  display: none;
}